<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <div class="fw-semibold mb-2"><%= t('devise_views.errors.title') %></div>
    <ul class="mb-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
